html,
body {
    margin: 0;
    padding: 0;
    outline: none;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-size: 10px;
}

#app {
    font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", STXihei, "Microsoft YaHei", SimHei, "WenQuanYi Micro Hei";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #333333;
    height: 100%;
    width: 100%;
}

p,
a,
ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}