html,
body {
    margin: 0;
    padding: 0;
    outline: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 10px;
}

#app {
    font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", STXihei, "Microsoft YaHei", SimHei, "WenQuanYi Micro Hei";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    color: #333333;
}

p,
a,
ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}


/* ipad */

@media screen and (max-width: 1024px) and (min-width: 769px) {
    html,
    body {
        font-size: 20px !important;
    }
}

@media screen and (max-width: 768px) and (min-width: 768px) {
    html,
    body {
        font-size: 15px !important;
    }
}


/* iphone 6+ */

@media screen and (max-width: 414px) and (min-width: 376px) {
    html,
    body {
        font-size: 10px !important;
    }
}


/* iphoneX 6 */

@media screen and (max-width: 375px) and (min-width: 361px) {
    html,
    body {
        font-size: 10px !important;
    }
}


/* S5 */

@media screen and (max-width: 360px) and (min-width: 321px) {
    html,
    body {
        font-size: 9px !important;
    }
}


/* iphone 5 */

@media screen and (max-width: 320px) {
    html,
    body {
        font-size: 8px !important;
    }
}


/* iphonex 兼容 */


/* 当需要在中文版chrome浏览器中显示小于12px的字体时，而且此时页面放大效果会被阻止*/

html,
body {
    -webkit-text-size-adjust: none;
}


/*去掉苹果手机点击瞬间出现的灰色背景*/

html,
body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/*去除苹果手机默认的input样式*/

input {
    -webkit-appearance: none;
}


/*给IOS系统里cursor不为pointer的元素添加事件时会不同程度受影响，加上cursor: pointer可解决*/

selector {
    cursor: pointer
}


/* 阻止图片在微信里被点击放大*/

img {
    pointer-events: none;
}


/* 组件按钮样式 */

.qplayer-controlswrapper {
    z-index: 3 !important;
}