.home {
    height: 100%;
    width: 100%;
    background: url(../../assets/img/home/bg-home.png) no-repeat;
    background-position: center center;
    background-size: 100%;
    position: relative;
}

.home a.music {
    display: block;
    width: 3.7rem;
    height: 3.5rem;
    background: url(../../assets/img/home/btn-music.png) no-repeat;
    background-size: 100% 100%;
    position: fixed;
    top: 1.3rem;
    right: 0.9rem;
}

.home .content-wrap {
    width: 33.1rem;
    height: 45rem;
    overflow: hidden;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 33%;
    left: 50%;
}

.home .content-wrap .theme {
    width: 11rem;
    height: 26.5rem;
    background: url(../../assets/img/home/bg-theme.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 2.5rem;
    right: 7.8rem;
}

.home .content-wrap .ink {
    width: 31rem;
    height: 29.3rem;
    background: url(../../assets/img/home/bg-ink.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0.7rem;
    right: 0;
    /* c3 */
    animation: showInk 5s;
    /* Safari 与 Chrome */
    -webkit-animation: showInk 5s;
}

.home .content-wrap .enter {
    width: 12.3rem;
    height: 11.5rem;
    background: url(../../assets/img/home/btn-enter1.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 31.7rem;
    right: 6.5rem;
    /* c3 */
    animation: showEnter 5s;
    /* Safari 与 Chrome */
    -webkit-animation: showEnter 5s;
}

.home .content-wrap .label-enter {
    display: block;
    width: 12.3rem;
    height: 11.5rem;
    position: absolute;
    top: 31.7rem;
    right: 6.5rem;
}

.home .content-wrap .label-enter i {
    display: block;
    width: 5.5rem;
    height: 4.6rem;
    background: url(../../assets/img/home/label-enter.png) no-repeat;
    background-size: 100% 100%;
    /* position: absolute; */
    /* top: 35.2rem; */
    /* right: 9.5rem; */
    margin-top: 3.5rem;
    margin-left: 3.5rem;
}

.home .footer {
    width: 100%;
    height: 4rem;
    position: absolute;
    bottom: 1rem;
}

.home .footer p {
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.2rem;
    color: #666666;
}

.home .footer p a {
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.4rem;
    font-weight: bold;
    font-family: 'STSong';
    color: #333333;
}


/* Ink 动画效果 */

@keyframes showInk {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
        width: 0;
        height: 0;
        top: 15rem;
        right: 15.5rem;
    }
    100% {
        opacity: 1;
        width: 31rem;
        height: 29.3rem;
        top: 0.7rem;
        right: 0;
    }
}


/* Safari 与 Chrome */

@-webkit-keyframes showInk {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
        width: 0;
        height: 0;
        top: 15rem;
        right: 15.5rem;
    }
    100% {
        opacity: 1;
        width: 31rem;
        height: 29.3rem;
        top: 0.7rem;
        right: 0;
    }
}


/* enter 动画效果 */

@keyframes showEnter {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
        width: 0;
        height: 0;
        top: 37.45rem;
        right: 12.65rem;
    }
    100% {
        opacity: 1;
        width: 12.3rem;
        height: 11.5rem;
        top: 31.7rem;
        right: 6.5rem;
    }
}


/* Safari 与 Chrome */

@-webkit-keyframes showEnter {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
        width: 0;
        height: 0;
        top: 37.45rem;
        right: 12.65rem;
    }
    100% {
        opacity: 1;
        width: 12.3rem;
        height: 11.5rem;
        top: 31.7rem;
        right: 6.5rem;
    }
}