.sort {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    /* position: relative; */
}

.sort .sort-wrap {
    position: relative;
    min-height: 73.6rem;
    height: 100%;
}

.sort a.toHome {
    width: 9.8rem;
    height: 2.1rem;
    background: url(http://www.xinzhimin.xyz/sort-btn-tohome.png) no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 2.2rem;
    right: -1.2rem;
}


/* 头部 */

.sort header {
    width: 100%;
    height: 17.5rem;
}

.sort header .bg-bamboo {
    background: url(http://www.xinzhimin.xyz/sort-img-bamboo.png) no-repeat;
    background-position: center;
    background-size: contain;
    width: 10.1rem;
    height: 8.25rem;
}

.sort header .theme {
    width: 24.3rem;
    height: 2.2rem;
    background: url(http://www.xinzhimin.xyz/sort-bg-theme.png) no-repeat;
    background-position: center;
    background-size: contain;
    margin: 1.5rem auto 0;
}

.sort header .title {
    width: 16.4rem;
    height: 3.2rem;
    background: url(http://www.xinzhimin.xyz/sort-bg-title.png?v=1) no-repeat;
    background-position: center;
    background-size: contain;
    margin: 2rem auto 0;
    line-height: 3.2rem;
    color: #fff;
    font-size: 1.4rem;
}


/* 中部 */

.sort .content {
    min-height: 35rem;
    width: 100%;
    overflow: hidden;
}

.sort .content .content-wrap {
    width: 100%;
    overflow: hidden;
}

.sort .content .tips {}

.sort .content .tips a {}


/* .sort footer {
    overflow: hidden;
    width: 100%;
    display: block;
    position: relative;
    margin-top: 2rem;
} */

.sort .footer-wrap {
    width: 92%;
    padding-bottom: 37%;
    background: url(http://www.xinzhimin.xyz/sort-bg-footer.png) no-repeat;
    background-position: top center;
    background-size: 100%;
    /* float: right; */
    position: absolute;
    right: 0;
    bottom: 0;
}


/* 尾部 */

.sort .footer {
    width: 100%;
    height: 4rem;
    position: absolute;
    bottom: 3rem;
}

.sort .footer p {
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.2rem;
    color: #666666;
}

.sort .footer p a {
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.4rem;
    font-weight: bold;
    font-family: 'STSong';
    color: #333333;
}