.sort {
    height: 100%;
    width: 100%;
    position: relative;
}

.sort a.toHome {
    width: 9.8rem;
    height: 2.1rem;
    background: url(http://www.xinzhimin.xyz/sort-btn-tohome.png) no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 2.2rem;
    right: -1.2rem;
}

.sort a.finger {
    width: 5.75rem;
    height: 7.55rem;
    background: url(http://www.xinzhimin.xyz/sort-btn-click.png) no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: showFinger 3s ease-out;
    -webkit-animation: showFinger 3s ease-out;
}


/* 头部 */

.sort header {
    width: 100%;
    height: 17.5rem;
}

.sort header .bg-bamboo {
    background: url(http://www.xinzhimin.xyz/sort-img-bamboo.png) no-repeat;
    background-position: center;
    background-size: contain;
    width: 10.1rem;
    height: 8.25rem;
}

.sort header .theme {
    width: 24.3rem;
    height: 2.2rem;
    background: url(http://www.xinzhimin.xyz/sort-bg-theme.png) no-repeat;
    background-position: center;
    background-size: contain;
    margin: 1.5rem auto 0;
}

.sort header .title {
    width: 16.4rem;
    height: 3.2rem;
    background: url(http://www.xinzhimin.xyz/sort-bg-title.png) no-repeat;
    background-position: center;
    background-size: contain;
    margin: 2rem auto 0;
    line-height: 3.2rem;
    color: #fff;
    font-size: 1.4rem;
}


/* 中部 */

.sort .content {}

.sort .content .content-wrap {
    width: 100%;
    overflow: hidden;
}

.sort .content .tips {}

.sort .content .tips a {}

.sort footer {
    width: 35.7rem;
    height: 21.35rem;
    background: url(http://www.xinzhimin.xyz/sort-bg-footer.png) no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    right: 0;
    bottom: -3.2rem;
}


/* 尾部 */

.sort .footer {
    width: 100%;
    height: 4rem;
    position: absolute;
    bottom: 3rem;
}

.sort .footer p {
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.2rem;
    color: #666666;
}

.sort .footer p a {
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.4rem;
    font-weight: bold;
    font-family: 'STSong';
    color: #333333;
}

@keyframes showFinger {
    0% {
        display: block;
        width: 5.75rem;
        height: 7.55rem;
    }
    25% {
        width: 2.9rem;
        height: 3.8rem;
    }
    50% {
        width: 5.75rem;
        height: 7.55rem;
    }
    75% {
        width: 2.9rem;
        height: 3.8rem;
    }
    100% {
        width: 5.75rem;
        height: 7.55rem;
    }
}